<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>event_list</title>

</head>
    <body>
        <div class="container my-3">
            <div>
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">
                        <h2 th:text="${event.subject}"></h2>
                        <div th:text="${event.content}"></div>
                    </div>
                </div>
            </div>
            <!--질문 목록 시작-->
            <div id="question">
                <h2>질문 목록</h2>

                <form  th:action="@{|/question/create/${event.id}|}" th:object="${event}" method="post">
                    <tr th:each="question, stat: ${event.questionList}">
                            <td>
                                <span  th:text="${stat.index}"></span>
                            </td>
                            <td>
                                <input hidden th:name="|question[${stat.index}].id|" th:value="${question.getId()}"/>
                            </td>
                            <td>
                                <input  th:name="|question[${stat.index}].content|" th:value="${question.getContent()}"/>
                            </td>
                            <input type="submit" name="수정"  value="edit"  th:formaction="'/question/modify'+'/'+${event.id}+'/'+${question.qNum}">
                            <input type="submit" name="삭제" value="delete"  th:formaction="'/question/delete'+'/'+${event.id}+'/'+${question.qNum}">
                    </tr >
                    <input type="text" id="addQuiz" name="addQuiz"   placeholder="퀴즈를 입력하세요">
                    <input type="submit" value="퀴즈 추가">
                </form>

                <!--    <div id="answer">-->
                <!--        답변 목록-->
                <!--        <tr th:each="answer : ${event.answerList}">-->
                <!--            <td th:text="${answer.qNum}"></td>-->
                <!--            <td th:text="${answer.content}"></td>-->
                <!--        </tr>-->
                <!--    </div>-->

                <!--    <div id="player">-->
                <!--        참가자 목록-->
                <!--        <tr th:each="player : ${event.playerList}">-->
                <!--            <td th:text="${player.name}"></td>-->
                <!--        </tr>-->
                <!--    </div>-->
            </div>
        </div>
    </body>
</html>
